# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create a table in Markdown
- Evaluate arthmetic expressions using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Pytorch

|Data Science Tools|
|------------------|
|RStudio           |
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
print(f'{200/60} hrs')

3.3333333333333335 hrs

## Author
Aaron Sajan